<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formulario" (submit)="obtenerDatosFormulario()">
    <ion-item>
      <ion-input fill="outline" labelPlacement="floating" label="usuario" type="text" formControlName="usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input fill="outline" labelPlacement="floating" label="contraseña" type="password" formControlName="contrasenia"></ion-input>
    </ion-item>
    <ion-button type="submit" role="submit">
      <!--el parentesis es importante para el suscrpitor-->
      <ion-text *ngIf="!(login.$cargando | async)">Iniciar</ion-text>
      <ion-spinner *ngIf="login.$cargando | async" name="circular"> </ion-spinner>
      
    </ion-button>
  </form>
</ion-content>
